/*
 * Icons
 */
toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button):not(#bookmarks-button):not(#history-button):not(#addons-button) {
  list-style-image: url("toolbar.svg");
}
toolbar:-moz-lwtheme-brighttext toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button):not(#bookmarks-button):not(#history-button):not(#addons-button),
toolbar[brighttext] toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button):not(#bookmarks-button):not(#history-button):not(#addons-button) {
  list-style-image: url("toolbar-inverted.svg");
}

/*
 * Others
 */
:-moz-any(#aios-toolbar, #aios-sbhtoolbar) .toolbarbutton-1 > .toolbarbutton-icon,
:-moz-any(#aios-toolbar, #aios-sbhtoolbar) .toolbarbutton-1 > :-moz-any(.toolbarbutton-menubutton-button, .toolbarbutton-badge-stack) > .toolbarbutton-icon {
  max-width: none;
}
#aios-toolbar toolbarbutton.bookmark-item:not(.subviewbutton),
#aios-toolbar #personal-bookmarks[cui-areatype="toolbar"]:not([overflowedItem=true]) > #bookmarks-toolbar-placeholder {
  padding: 0;
}

toolbarbutton.toolbarbutton-1.aios-tbutton#bookmarks-button {
  list-style-image: url(chrome://browser/skin/bookmark.svg);
}

toolbarbutton.toolbarbutton-1.aios-tbutton#history-button {
  list-style-image: url(chrome://browser/skin/history.svg);
}

toolbarbutton.toolbarbutton-1.aios-tbutton#addons-button {
  list-style-image: url(chrome://browser/skin/addons.svg);
}

toolbarbutton#sidebar-close {
  -moz-box-ordinal-group: 1000;
}

#sidebar-switcher-target {
  display: none;
}
