/*
 * Icons
 */
toolbarbutton.toolbarbutton-1.aios-tbutton#bookmarks-button {
  list-style-image: url(chrome://browser/skin/bookmark.svg);
}

toolbarbutton.toolbarbutton-1.aios-tbutton#history-button {
  list-style-image: url(chrome://browser/skin/history.svg);
}

toolbarbutton.toolbarbutton-1.aios-tbutton#addons-button {
  list-style-image: url(chrome://mozapps/skin/extensions/extensionGeneric-16.svg);
}

toolbarbutton.toolbarbutton-1.aios-tbutton#remotetabs-button {
  list-style-image: url(chrome://browser/skin/tab.svg);
}

toolbarbutton.toolbarbutton-1.aios-tbutton {
  -moz-context-properties: fill;
  fill: currentColor;
  opacity: 0.8;
}

/*
 * Others
 */
:-moz-any(#aios-toolbar, #aios-sbhtoolbar) .toolbarbutton-1 > .toolbarbutton-icon,
:-moz-any(#aios-toolbar, #aios-sbhtoolbar) .toolbarbutton-1 > :-moz-any(.toolbarbutton-menubutton-button, .toolbarbutton-badge-stack) > .toolbarbutton-icon {
  max-width: none;
}
#aios-toolbar toolbarbutton.bookmark-item:not(.subviewbutton),
#aios-toolbar #personal-bookmarks[cui-areatype="toolbar"]:not([overflowedItem=true]) > #bookmarks-toolbar-placeholder {
  padding: 0;
}

#sidebar-switcher-target {
  display: none;
}
