/*
 * GUI
 */
#contentAreaDownloadsView {
  margin: 0;
  padding: 0;
  border: none;
}
#main-bar #clearListButton {
  margin-right: 5px;
}
window[aios-inSidebar] #downloadsRichListBox > richlistitem.download {
  height: auto;
}
#contentAreaDownloadsView #searchbox {
  color: -moz-dialogText !important;
  -moz-appearance: textfield;
}

window[aios-inSidebar="true"] textbox[focused] {
  border-color: -moz-MenuHover !important;
  box-shadow: 0 0 1px -moz-MenuHover !important;
}
/* Icons */
window #clearListButton {
  list-style-image: url("panels_menus.svg");
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

/* Mark download items based on status */
window[aios-downloadShade="true"] richlistitem:not([selected=true]):not([state="1"]) {
  color: #660000;
  background-color: #FFECEC;
}
window[aios-downloadShade="true"] richlistitem:not([selected=true])[state="-1"],
window[aios-downloadShade="true"] richlistitem:not([selected=true])[state="0"],
window[aios-downloadShade="true"] richlistitem:not([selected=true])[state="4"],
window[aios-downloadShade="true"] richlistitem:not([selected=true])[state="5"] {
  color: #006600;
  background-color: #ECFFEC;
}

#downloadsRichListBox, #downloadsRichListBox:empty {
  background-color: -moz-Dialog;
  color: -moz-dialogText;
  border: none;
}
